.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(227, 10%, 64%);
}
body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outerCon{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    width: 300px;
    height: 600px;
    margin-top: 2rem;
    
}
.outerCon img{
width: 90%;
height: 40%;
margin:auto;
margin-top:1rem ;
}
.outerCon h2{
    color: white;
    padding-left: 1rem;
}
.outerCon p {
    color:hsl(215, 51%, 70%) ;
    padding-left: 1rem;
}

.inner2con{
    display: flex;
    flex-direction: row;
}
.inner21{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}
.inner22{
    display: flex;
    flex-direction: row;
   
}
.inner22 pre{
    font-size: 18px;
    color:hsl(215, 51%, 70%) ;

}
.inner22 img{
    padding-bottom: 1rem;
    padding-right: .5rem;
}
.inner21 p{
    padding-right: 2rem;
    color: hsl(178, 100%, 50%);
}
.inner3con img{
    width:50px;
    height: 50px;
    border-color: white;
    border-width: 20px;
    margin-bottom:2rem;
    padding-left: 1rem;
}
.inner3con{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;

}
.inner3con strong{
    color: white; 
}
.inner3con p {
    margin-top: 2rem;
}
hr{
     color:white;
      width:250px ;
      margin-left: 1rem;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@media(max-width:1440px){
    
    outerCon{
        width: 375px;
    }
    }